@using TimeCapsule.Models.Dto
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model UserDto


<div class="modal fade" id="editUserModal" tabindex="-1" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editUserModalLabel">@Localizer["EditUser"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="userEditFormContainer">
                    <form id="editUserForm" method="post" action="/AdminPanel/Users/UpdateUser">
                        <input type="hidden" name="UserId" id="EditId" value="" />
                        <div class="card-body">
                            <div class="form-group">
                                <label>@Localizer["Username"] <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" id="EditUserName" name="UserName" value="" required />
                                <span class="text-danger field-validation-error" data-valmsg-for="UserName"></span>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Email"] <span class="text-danger">*</span></label>
                                <input type="email" class="form-control" id="EditEmail" name="Email" value="" required />
                                <span class="text-danger field-validation-error" data-valmsg-for="Email"></span>
                            </div>
                            <div class="form-group">
                                <label>@Localizer["Role"] <span class="text-danger">*</span></label>
                                <select class="form-control" id="EditRoleId" name="RoleId" required>
                                    @foreach (var role in Model.AvailableRoles)
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                </select>
                                <span class="text-danger field-validation-error" data-valmsg-for="RoleId"></span>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-save" onclick="handleFormSubmit('editUserForm')">@Localizer["Save"]</button>
                            <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>