@using TimeCapsule.Models.ViewModels
@using Microsoft.AspNetCore.Mvc.Localization
@using TimeCapsule.Extensions
@inject IViewLocalizer Localizer
@model TimeRemainingViewModel

<style>
    .display-1 {
        font-size: 5rem;
        line-height: 1;
    }
</style>
<div class="background-image-for-pages">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 bg-light rounded shadow-sm p-4 my-5 text-center">
                <div class="my-5">
                    <h1 class="display-6 mb-3">@Localizer["StepTitle"]</h1>

                    <p class="lead mb-3">
                        @Localizer["StepDescription"]
                    </p>

                    <div class="row justify-content-center my-5">
                        <div class="col-lg-10">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Years</div>
                                    <div class="fs-4 text-secondary">
                                        @Localizer.GetPolishYearForm(Model.Years)
                                    </div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Days</div>
                                    <div class="fs-4 text-secondary">
                                        @if (Model.Days == 1)
                                        {
                                            @Localizer["Day"]
                                        }
                                        else
                                        {
                                            @Localizer["Days"]
                                        }
                                    </div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Hours</div>
                                    <div class="fs-4 text-secondary">
                                        @Localizer.GetPolishHourForm(Model.Hours)
                                    </div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Minutes</div>
                                    <div class="fs-4 text-secondary">
                                        @Localizer.GetPolishMinuteForm(Model.Minutes)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mt-5">
                        <a asp-controller="Profile" asp-action="MyCapsules" class="btn btn-secondary btn-lg">
                            @Localizer["GoToProfile"]
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>