@using TimeCapsule.Models.ViewModels
@model TimeRemainingViewModel

<style>
    .display-1 {
        font-size: 5rem;
        line-height: 1;
    }
</style>
<div class="background-image-for-pages">
    <div class="container-fluid p-0">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10 bg-light rounded shadow-sm p-4 my-5 text-center">
                <div class="my-5">
                    <h1 class="display-6 mb-3">Krok 9 z 9: Podtwierdzenie zapisu</h1>

                    <p class="lead mb-3">
                        Twoja kapsuła czasu została pomyślnie zapisana! Do jej otwarcia pozostało:
                    </p>

                    <div class="row justify-content-center my-5">
                        <div class="col-lg-10">
                            <div class="d-flex flex-column align-items-center text-center">
                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Years</div>
                                    <div class="fs-4 text-secondary">@(Model.Years == 1 ? "rok" : (Model.Years >= 2 && Model.Years <= 4 ? "lata" : "lat"))</div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Days</div>
                                    <div class="fs-4 text-secondary">@(Model.Days == 1 ? "dzień" : "dni")</div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Hours</div>
                                    <div class="fs-4 text-secondary">@(Model.Hours == 1 ? "godzina" : (Model.Hours >= 2 && Model.Hours <= 4 ? "godziny" : "godzin"))</div>
                                </div>

                                <div class="mb-5 time-block">
                                    <div class="display-1 text-secondary fw-bold">@Model.Minutes</div>
                                    <div class="fs-4 text-secondary">@(Model.Minutes == 1 ? "minuta" : (Model.Minutes >= 2 && Model.Minutes <= 4 ? "minuty" : "minut"))</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="d-grid gap-2 col-6 mx-auto mt-5">
                        <a asp-controller="Profile" asp-action="MyCapsules" class="btn btn-secondary btn-lg">
                           Przejdź do profilu
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>