@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@section Styles {
    <link rel="stylesheet" href="~/css/Modal.css" asp-append-version="true" />
}

<div class="modal fade" id="deleteConfirmModal" tabindex="-1" aria-labelledby="deleteConfirmModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteConfirmModalLabel">@Localizer["ConfirmDelete"]</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form id="deleteForm" method="post" action="">
                <div class="modal-body">
                    <p class="delete-info">@Localizer["DeleteConfirmationMessage"]</p>
                    <p class="text-danger"><b>@Localizer["CannotUndoWarning"]</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">@Localizer["Cancel"]</button>
                    <button type="submit" class="btn btn-danger">@Localizer["Delete"]</button>
                </div>
            </form>
        </div>
    </div>
</div>